.vs/TextRPG/v17/.suo
.vs/TextRPG/v17/.futdcache.v2
.vs/ProjectEvaluation/textrpg.projects.v7.bin
.vs/ProjectEvaluation/textrpg.metadata.v7.bin
.vs/TextRPG/v17/.suo
.vs/TextRPG/v17/.futdcache.v2
.vs/ProjectEvaluation/textrpg.projects.v7.bin
.vs/ProjectEvaluation/textrpg.metadata.v7.bin
.vs/TextRPG/v17/.suo
.vs/TextRPG/v17/.futdcache.v2
.vs/ProjectEvaluation/textrpg.projects.v7.bin
.vs/ProjectEvaluation/textrpg.metadata.v7.bin
/.vs
.vs/ProjectEvaluation/textrpg.metadata.v7.bin
/.vs/ProjectEvaluation
*.bin
*.bin
.vs/ProjectEvaluation/textrpg.projects.v7.bin
/.vs
/.vs/ProjectEvaluation
.vs/TextRPG/v17/.suo
*.v2
/.vs/ProjectEvaluation
.vs/TextRPG/v17/.suo
/.vs
/.vs/TextRPG
/.vs/TextRPG/v17
